@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  font-family: sans-serif;
}

.Home {
  position: relative;
  background-image: radial-gradient(farthest-corner at 40px 40px, #bccbec 60%, #93a3dd 100%);
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.Home > h2 {
  display: flex;
  justify-content: space-around;
  color: #3045a5;
}

.Home > .Header__container,
.search-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home__container {
  align-items: center;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.ProdutoLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .ProdutoLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .ProdutoLista {
    grid-template-columns: 1fr;
  }
}

.ProdutoListaItem {
  font-family: "Exo";
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  width: auto;
  height: auto;
}

@media (max-width: 400px) {
  .ProdutoListaItem {
    width: 79vw;
    height: 180px;
  }
}

.ProdutoListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.ProdutoListaItem__foto {
  height: 20vh;
}

.ProdutoListaItem__marca,
.ProdutoListaItem__tipo {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.ProdutoListaItem__modelo {
  font-size: 1em;
}

.ProdutoListaItem__preco {
  color: #0000ff;
}

#inputSearchTipo {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
}

.botao-padrao,
.botao-editar,
.botao-deletar,
.botao-cancelar,
.botao-nao,
.botao-sim {
  background-color: transparent;
  border: 2px solid #3045a5;
  padding: 0.4rem;
  color: #3045a5;
  font-weight: 600;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.botao-deletar,
.botao-nao,
.botao-cancelar {
  color: #ff0000;
  border-color: #ff0000;
}

.botao-padrao:hover,
.botao-editar:hover,
.botao-sim:hover {
  background-color: #3045a5;
  color: #ffffff;
}

.botao-deletar:hover,
.botao-nao:hover,
.botao-cancelar:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.NovoProduto__container {
  display: flex;
  justify-content: flex-end;
}

#search-produto-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.Header__container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo__titulo {
  font-family: "Exo";
  font-weight: 700;
  font-size: 2.5em;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 16px;
}

.Logo__icone {
  height: auto;
  width: 150px;
}

.Sacola__icone {
  cursor: pointer;
  padding: 0px 50px;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}
@media (max-width: 640px) {
  .Header__container {
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .Header__container {
    column-gap: 20px;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }
}

.fundo-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0000009d;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 30em;
  height: 72vh;
  background-color: #ffffff;
  border-radius: 16px;
}
.modal-excluir {
  width: 28em;
  height: 16vh;
  background-color: #ffffff;
  border-radius: 16px;
}

.header-modal {
  height: 3em;
  display: flex;
  background-color: #3045a5;
  border-radius: 15px 15px 0 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 0px 16px;
}

.header-modal > span {
  cursor: pointer;
}

.header-modal > h2 {
  margin: 0;
}

.body-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-modal > input {
  height: 1.9em;
  width: 97%;
  display: flex;
  margin: 3px;
}
.body-modal-excluir {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#inputDescricao,
#inputDescricaoEdicao {
  width: 97.5%;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes subir {
  0% {
    bottom: -300px;
  }
  20% {
    bottom: 15px;
  }
  60% {
    bottom: 15px;
  }
  100% {
    bottom: -300px;
  }
}

.notification {
  display: none;
  min-width: 10vw;
  max-width: 22vw;
  height: 4vh;
  border: 1px solid #0000003d;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 0 1rem;
  animation: aparecer 1s normal;
  animation: subir 6s normal;
}

#notificationSpan {
  margin-right: 5px;
  font-weight: 600;
}

.notificationSpanError {
  color: red;
}

.notificationSpanSucesso {
  color: green;
}
